@import "tailwindcss";
@import "../components/AudioWavePlayer.module.css";

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
